.homeservices_header{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #650000; 
    text-align: start;
    font-size: 24px;
}
.homebussinesslising_contaner{
    width: 92%;
    margin: 0% 5% 0% 5%;
    text-align: start;
    color: #650000;
    
}
.slick-slide > div {
    margin:5%;
    margin-left: 8%;
}
.slick-arrow{
background-color:none;
color: #330000;

}

.slick-prev:before{
    color: #330000;
    font-size: 30px;
    margin-left: -45%;
}
.slick-next:before{
    color: #330000;
    font-size: 30px;
    margin-left: 10%;
}
.homebussinesslising_slide{
    text-align: start;
    border-radius: 12px 12px 12px 12px;
    box-shadow: 2px 2px 4px 2px #cbcbcb;    
}
.homebussinesslising_img{
    width: 100%;
    border: none;
    border-radius: 0px 0px 12px 12px;
}
.homebussinesslising_text{
    padding-left: 4%;
    padding-top: 4%;
    padding-bottom: 4%;
    height: 107px;
    background-color: #FFE5E5;
    color: #650000;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
    line-height: 24px;
    display: grid;
    align-content: space-between;
    border-radius: 0px 0px 12px 12px;
    
    
}
.homebussinesslising_text_name{
    color: #650000;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
    line-height: 24px;
}
.homebussinesslising_btn{
    width: 42%;
    border-radius: 8px;
    text-align: center;
    font-size: 14px;
    border: 2px solid #C68643 ;
    background-color: white;
    color: #C68643;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    
}

@media (max-width:786px) {
    
    .homebussinesslising_slide{
        z-index: 50;
        margin-left: 5%;
       
    }
    .slick-arrow{
        background-color:none;
        color: #330000;
       
        }
        .slick-prev{
            z-index: 1;
        }
    .slick-prev:before{
        color: #330000;
        font-size: 30px;
        margin-left: 25px;
        
        
    }
    
    .slick-next:before{
        color: #330000;
        font-size: 30px;
        /* border: 2px solid; */
        margin-left: -40px;
    
    }
   
    .homebussinesslising_text{
        padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
        font-size: 12px;
        line-height: none;
        display: grid;
        align-content: space-between;
        
    }
    .homebussinesslising_btn{
        width: 75%;
        font-size: 10px;
        border: 2px solid;
        font-weight: 800;
        
    }
  
    .homebussinesslising_contaner{
        width: 100%;
        margin-left: 0%;
    }
   
}