.main{
    /* border: 2px solid yellow; */
    width: 100%;
    height: auto;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    /* margin-left: 100px; */
}
.services{
    /* border: 2px solid salmon; */
    width: 16%;
    height:100%;
    position: fixed;
    text-transform: uppercase;
    background-color:#E0EFFF    ;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal; 
    text-align: center;
    /* padding-top: 5px;  */
    padding: 5px 10px;
    overflow-y:auto ;
    padding-bottom: 10%;
    
    
    /* border: 2px solid; */
}
.services::-webkit-scrollbar{
  display: none;
 }
.label{
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    background-color: #144273;
    font-style: normal;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    width: 123px;
    margin: auto;
}
.services-links{
  display: flex;
    /* border: 2px solid black; */

  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
  padding: auto;
  text-align: center;
  height: 35px;
  display: flex;
  flex-direction: row;
  margin-top: 10%;
  background-color: #E0EFFF;
  color: #144273;
  
}
.leftslide_logo1{
  height: 32px;
  width: 35px;
}
.logo143{
  fill: goldenrod;
}
.leftslide_logo2{
  height: 32px;
  width: 37px;
}
.leftslide_logo3{
  height: 21px;
  width: 35px;
  
}
.leftslide_logo4{
  height: 28px;
  width: 34px;
  padding-left: 1%;
}
.leftslide_logo5{
  height: 32px;
  width: 35px;
}
.leftslide_logo6{
  height: 32px;
  width: 35px;
}
.leftslide_logo7{
  height: 32px;
  width: 35px;
}
.leftslide_logo8{
  height: 32px;
  width: 35px;
}
.logo_change{
  height: 32px;
  width: 35px;
}
/* .leftlinks{

  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color:#144273;
  padding-left: 12px;
  font-size: 18px;
  font-style: normal;
  padding-top: 4px;

  height: 31px;
  text-align: start;
} */
.leftlinks:hover{

  background-color: white;
  
}
.services-links:hover{
color: goldenrod;
background-color: white;
  
}
/* .services-links:hover img{
  display: none;
} */
.services-links .logo_change{
  display: none;
}
.services-links:hover .logo_change{
  display: none;
}

.leftlinks1{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  
align-content: center;
  font-size: 83%;
  padding-left: 2%;
 
  
  
}


@media (max-width:768px) {
  .services{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    width: 100%; 
    overflow-x: auto;
    padding-top: 3%;
    position: fixed;
    margin-right: 0%;
    background-color: #EDBD30;
  }
  .services::-webkit-scrollbar{
   display: none;
  }
  .label{
    display: none;
  }
  .serves1{
    height: 180px;
    width: 100%;
    display: flex;
    
    flex-direction: column;
    height: 0%;
   
  }
  .services-links{
    width: 250px;
    height: 80px;
    background-color: #EDBD30;
    
  }
  .services .services-links{
    margin: auto;
    margin-top: 4.9%;
    /* margin-bottom: 10px; */
  }
  .navbar .visible .main{
    margin-top: 10%;
  }
  .leftlinks1{
    font-size: 10px;
    height: 24px;
    width: auto;
    padding-left: 0%;
    text-align: center;
    /* border: 2px solid; */
    
    
  }
  .services-links{
    display: flex;
    flex-direction: column;
    /* border: 2px solid; */
    padding: 15px;
    padding-top: px;
    
    
  }
  .leftlinks1{
    margin: 5%;
  }
  .services-links img{
   /* border: 2px solid; */
   align-self: center;
  }
  .leftslide_logo1{
    height: 25px;
    width: 24px;
  }
  .leftslide_logo2{
    height: 25px;
    width: 24px;
  }
  .leftslide_logo3{
    height: 21px;
    width: 38px;
    
  }
  .leftslide_logo4{
    height: 22px;
    width: 29px;
    padding-left: 1%;
  }
  .leftslide_logo5{
    height: 24px;
    width: 27px;
  }
  .leftslide_logo6{
    height: 24px;
    width: 24px;
  }
  .leftslide_logo7{
    height: 24px;
    width: 24px;
  }
  .leftslide_logo8{
    height: 24px;
    width: 24px;
  }
}