 
.graphic-text{
    border: 6px blue;
    height: auto;
    width: auto;
    margin-left: 18%;
    margin-right: 18%;
    z-index: -1;
    /* padding-left: 40px;
    padding-right: 40px; */
    
}
.graphic1{
    text-align: center;
    height: auto;
    margin-top: 20px; 
}
.btn_contactg{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    width: 130px;
    height: 44px;
    background-color: white;
    margin-left: 2%;
    margin-top: 24%;
    background-color: #144273;
    color: white;
    border-radius: 8px;
    
    position: absolute;
  }
  .Banner1_graphic{
    width: 100%;
  }
  .Banner2_graphic{
    width: 100%;
  }
  .Banner3_graphic{
    width: 100%;
  }
  .graphic_banner_content{
    display: flex;
    flex-direction: row;
    padding: 2%;
    box-shadow:  3px 3px 3px #ECECEC;
    background-color: #FFFFFF;
    border-radius: 8px;
  }
  .graphic_banner_content_text{
    text-align: start;
    width: 100%;
    /* border: 2px solid; */
    margin-left: 4%;
  
  }
  .graphic_banner_header1{
    font-size: 21px;
    line-height: 31.5px;
    font-weight: 600;
    color: #C68643;
  }
  .graphic_banner_header2{
    font-size: 27px;
    line-height: 40.5px;
    font-weight: 700;
    color: #650000;
  }
  .graphic_banner_content_img{
    align-content: center;
  }
  .graphic_banner_simpleText{
    color: #995050;
    text-align: justify;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
  }
  
  @media (max-width:786px) {
    .graphic-text{
      margin-left: 0%;
      margin-right: 0%;
     width: 100%;
    }
    .btn_contactg{
      width: 76px;
      height: 26px;
      font-size: 12px;
      background-color: #124F91;
      margin-top: 35%;
      margin-left: 3.5%;
      border-radius: 4px;
    }
    .Banner1_graphic{
      padding-left: 2%;
      padding-right: 2%;
    }
    .Banner2_graphic{
      padding-left: 2%;
      padding-right: 2%;
    }
    .Banner3_graphic{
      padding-left: 2%;
      padding-right: 2%;
    }
    .graphic_banner_content{
      display: flex;
      flex-direction: column
    }
    .graphic_banner_content_text{
      margin-left: 0%;
    }
    .graphic_banner_img2{
      width: 160px;
      height: 185.51px;
    }
    .graphic_banner_header1{
      font-size: 14px;
      line-height: 21px;
    }
    .graphic_banner_header2{
      font-size: 21px;
      line-height: 21px;
    }
    .graphic_banner_simpleText{
      font-size: 12px;
      line-height: 18px;
    }
  }
  
