.driver_content{
    border: 6px blue;
    height: auto;
    width: auto;
    
    margin-left: 18%;
    margin-right: 18%;
    z-index: -1; 
}
.driver1{
    text-align: center;
    height: auto;
}

.swiper {
    width: 600px;
    height: 300px;
  }
  .d-btn-d{
    background: #c68643;
    border: none;
    color: #fff;
}
@media (max-width:"786px") {
    .driver_content{
        width: 100%;
        margin-right: 0%;
        margin-left: 0%;
        overflow: hidden;
    }
    .driver1{
        width: 100%;
        margin-right: 0%;
        margin-left: 0%;
        overflow: hidden;
    }
}