.app-text{
    border: 6px blue;
    height: auto;
    width: auto;
    margin-left: 18%;
    margin-right: 18%;
    z-index: -1;
    /* padding-left: 40px;
    padding-right: 40px; */
    
}
.applink2{

    text-align: center;
   
    
}

.Applink{
    width: 100%;
    height: auto;
}
@media (max-width:786px) {
    .app-text{
        margin-left: 0%;
        margin-right: 0%;
        height: 100px;
    }
    .Applink{
        width: 100%;
    }
   
}
