.taxi-text{
    border: 6px blue;
    height: auto;
    width: auto;
    margin-right: 18%;
    z-index: -1;
    /* padding-left: 40px;
    padding-right: 40px; */
    
}
.taxi1{
   
    height: auto;
    margin-top: 20px; 
}
.taxi2{
    margin-right: 22%;
    margin-left: 22%;
    width:78% ;
    height: auto;
    
    
}
.text{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 21px;
  color: #650000;  
  display: flex;
  /* justify-content: start;   */
}
.text1{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 27px;
    color: #650000;  
    display: flex;
    /* justify-content: start;  */
  }
  .text3{
    color: #650000;
  }
  .buttons{
    background-color: #FFE5E5;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: start;
  }
  /* .btn{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 21px;
    height: 100%;
    background-color: white;
    margin-left: 30px;
    color: #144273;
    border-radius: 5px;
  } */
  .btn_taxi{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 21px;
    width: 20%;
    background-color: white;
    margin-left: 30px;
    color: #144273;
   border-radius: 5px;
  }
 
  .btn_taxi:hover{
    background-color: #144273;
    color: white;
  }
  .btn:hover{
    background-color: #144273;
    color: white;
  }
  .buttons1{
    display: flex;
    justify-content: flex-start;
  }
  .buttons2{
    display: flex;
    justify-content: flex-start;
  }
  .buttons3{
    display: flex;
    justify-content: flex-start;
  }
  .label_taxi{
    text-align: start;
    color: #650000;
  }
  .form{
    background-color:#FFE5E5 ;
    height: auto;
    font-size: 100%;
    line-height: 27px;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 5%;
  }
  
  .main_form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    column-gap: 20px;
    max-width: 95%;
    text-transform: capitalize;
    color: #000000 ;
  
}
.main_form div {
    display: flex;
    flex-direction: column;
    /* border: 2px solid; */
}
label {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
}
 
  .full-width {
    grid-column: span 2;
}
label, input {
  display: block;
  width: 100%;
}
#btn_taxi{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 21px;
  width: 12%;
  height: 45px;
  margin-left: 30px;
  margin: auto;
  border-radius: 10px;
  background-color: #144273;
  color: white;
}
.buttons{
display: flex;

}
.dropdown_taxi{
  width: 30%;
  border-radius: 4px;
  margin-left: 1%;
  color: #650000;
  
}
/* .buttons select{
  border:2px solid #650000;
}
.css-13cymwt-control{
  border: 4px solid #650000 ;
} */
@media (max-width:786px) {
  .taxi-text{
    margin-right: 0%;
    padding-left: 3%;
    padding-right: 3%;
  }
  .taxi2{
    margin-left: 0%;
    margin-right: 0%;
    width: 100%;
  }
  .btn_taxi{
    margin-left: 0%;
    width: 30%;
    padding-left: 0%;
    font-size: 14px;
    margin: 10px;
  }
  .form{
    padding-left: 1%;
    padding-right: 1%;
  }
  .main_form{
    display: flex;
    flex-direction: column;
    margin-left: 2%;
  }
  .buttons{
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 0%;
    margin-right: 0%;
    display: flex;
    flex-direction: column;
  
    
  }
  .label_taxi{
    font-size: 18px;
  }

  #btn_taxi{
    width: 30%;
  }
  .dropdown_taxi{
    width:98%;
    border-radius: 4px;
    padding-top: 2%;
    font-weight: 600;
    padding-left: 0%;
    padding-right: 0%;
    
    
  }
  #react-select-3-placeholder{
    color: #650000;
  }
}