
.goverment_services{
    width: 100%;
    height: 100%;
    border: 2px solid #144273;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
}
.govermentServices_row1{
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    padding-top: 2%;
}
.govermentServices_row1 div{
    width: 12%;
    height: 132px;
    border-radius: 8px;
    border: 0.5px solid goldenrod;
}
.govermentServices_row1 div:hover{
    background-color:  #E0EFFF;
    border:0.5px solid #144273;
}
#govermentServices_row2 div:hover{
    background-color:  #E0EFFF;
    border:0.5px solid #144273;
}

#g{
    cursor: pointer;
    height: 100%;
    /* border: #C68643 1px solid; */
    border-radius: 8px;
    padding-top: 5%;
    font-size: 100%;
}
#lang-29:checked ~ .label-29,
#lang-30:checked ~ .label-30,
#lang-31:checked ~ .label-31,
#lang-32:checked ~ .label-32,
#lang-33:checked ~ .label-33,
#lang-34:checked ~ .label-34,
#lang-35:checked ~ .label-35,
#lang-36:checked ~ .label-36,
#lang-37:checked ~ .label-37,
#lang-38:checked ~ .label-38,
#lang-39:checked ~ .label-39,
#lang-40:checked ~ .label-40
{
    background-color: #144273;
    color: white;
}



.radio_g{
    display: none;
}

#govermentServices_row2{
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    padding-top: 2%;
}
#govermentServices_row2 div{
    width: 12%;
    border-radius: 8px;
    border: 2px solid goldenrod;
}
@media (max-width:786px) {
    .govermentServices_row1 div{
        cursor: pointer;
        height: 100%;
       border: none;
        border-radius: 8px;
        padding-top: 5%;
        font-size: 9px;
    }
    .services_img{
        width: 50px;
        height: 50px;
    }
    #govermentServices_row2 div{
        cursor: pointer;
        height: 100%;
       border: none;
        border-radius: 8px;
        padding-top: 5%;
        font-size: 9px;
    }
   
   
}