*{  margin: 0%;
    padding: 0%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#navbar1{
    top: 0%;
    background-color: #144273;
    /* border: 2px solid magenta; */
    width: 100%;
    height: 80px;
    display: flex;
   justify-content: space-between;
    align-items: center;
    position: fixed;
    text-transform: uppercase;
    z-index: 2;
}
.logo{
    width: 100px;
    height: 70px;
    margin-left: 60px;
}
#text{
    /* border: 2px solid blue; */
  /* margin-right: 80px; */
  /* border: 2px solid; */
  text-align: center;
  padding-top: 2%;
  margin-left: 50%;
  

}
.profile-icon{
    /* border: 2px solid; */
    margin-right: 2%;
}
.navbar-link{
    color: #D7D7D7;
    text-decoration: none !important;
    padding-left: 32px; 
}

#Link{
    color: white;
}
#Link:hover{
    color: orange;
}
#Link2{
    color: white;
}#Link3{
    color: white;
}#Link1{
    color: white;
}
#Link1:hover{
    color: orange;
}
#Link2:hover{
    color: orange;
}
#Link3:hover{
    color: orange;
}
#Link:active{
    color: orange;
}
#Link1z:active{
    color: orange;
}
.active-link {
    font-weight: bold;
    color: red;
  }
  
/* @media(max-width:768px){
    .navbar-text .navbar-link{
        display: none;
      
    }
} */

#profile{
    background-color: none;
    border: none;
    background: transparent;
}
#profile option{
    display: none;
    background: transparent;
    border: none    ;
}


@media (max-width: 768px) {
    
    .burger_menu{
        height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        margin-right: 5%;
        margin-top: 0%;
    }
    .burger-bar{
        width: 2.60em;
        height: 0.4em;
        background-color:white;
        border-radius: 0.5em;
        
    }
    .navbar{
    height: 100hv;
  
    
    }
    .hidden{
        display: none;
    }
    .visible{
       display: inherit; 
    
        
    }
   
    .burger-bar.unclicked:nth-child(1){
        transform: rotate(45deg) translate(0.55em,1.45em);
        transition: ease-out 0.2s;
    
    }
    .burger-bar.unclicked:nth-child(2){
        transform: scale(0);
        transition: ease-out 0.2s;
    
    }.burger-bar.unclicked:nth-child(3){
        transform: rotate(130deg) translate(-0.4em,1.2em);
        transition: ease-out 0.2s;
    
    }
    .burger-bar.clicked{
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.40, 2.1);
    }
    .navbar-link{
        display: flex;
        flex-direction: row;
        font-size: 12px;
       
    }
    #text{
        width: 100%;
        position:absolute;
        margin-top: 120px;
        background-color:#144273;
        padding-right: 5%;
        text-align: center;
        padding-top: 0%;
        margin-left: 0%;
    }
    .logo{
        margin-left: 15%;
    }
    .profile-icon{
        margin-left: 38%;
        padding-right: 5%;
    }
    
}


